/*html {
   	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
}*/
html, body{
	font-family: helvetica;
	background-color: green;
	color: #0A0A0A;
}
/* Estilo de capa general */ 
.page { 
position: absolute; 
top: 0; 
left: 0; 
width: 100%; 
height: 100%; 
-webkit-transform: translate3d(0, 0, 0); 
transform: translate3d(0, 0, 0); 
} 

/* Estilo de capa izquierda */ 
.page.left { 
-webkit-transform: translate3d(-100%, 0, 0); 
transform: translate3d(-100%, 0, 0); 
} 

/* Estilo de capa central */ 
.page.center { 
-webkit-transform: translate3d(0, 0, 0); 
transform: translate3d(0, 0, 0); 
} 

/* Estilo de capa derecha */ 
.page.right { 
-webkit-transform: translate3d(100%, 0, 0); 
transform: translate3d(100%, 0, 0); 
} 

/* Estilo de animación general */ 
.page.transition { 
-webkit-transition-duration: .25s; 
transition-duration: .25s; 
}

/* Estilo de capa general */ 
.page { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    -webkit-transform: translate3d(0, 0, 0); 
    transform: translate3d(0, 0, 0); 
} 

.page.center { 
    -webkit-transform: translate3d(0, 0, 0); 
    transform: translate3d(0, 0, 0); 
} 

.page.right { 
    -webkit-transform: translate3d(80%, 0, 0); 
    transform: translate3d(80%, 0, 0); 
} 

.page.transition { 
    -webkit-transition-duration: .25s; 
    transition-duration: .25s; 
}